.home {
  &__wrapper {
    background: radial-gradient(
      100.06% 120.49% at 50% -20.49%,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(113, 61, 255, 0.9) 32.82%,
      rgba(0, 0, 0, 0) 78.46%
    );
    min-height: 100vh;
    background-color: var(--bg-color);
  }

  &__image {
    width: 450px;
  }

  &__card {
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid var(--border-color);
    border-radius: 16px;
    padding: 40px;

    &__text {
      color: var(--secondary-text-color);
    }
  }
}
