.header {
  height: 100vh;

  position: relative;
  &::before {
    z-index: -1;
    content: "";
    top: -150%;
    left: 0;
    right: 0;
    bottom: 0;

    position: absolute;
    background: rgb(113, 61, 255);
    background: rgb(255, 255, 255);
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 5%,
      rgba(113, 61, 255, 1) 28%,
      rgba(2, 18, 48, 1) 58%
    );
  }
}
